body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column; /* Changed from row to column */
    align-items: center; /* Center items vertically */
    width: 100%;
}

.score-container {
    width: 90%; /* Adjusted width for vertical layout */
    border: 1px solid black;
    margin: 10px;
}

#controls {
    margin: 20px;
}

.vf-cursor {
    stroke: #3399FF;
    stroke-width: 3px;
}
#feedback-container {
    position: absolute;
    top: 200px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: bold;
    color: #FFD700; /* Gold color */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none; /* Prevents it from interfering with mouse events */
}

#feedback-container.show {
    opacity: 1;
}